@model IEnumerable<PA_MDM_MvcApp_2021.Models.Contacts>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContactAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwitterURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstagramURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacebookURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YoutubeURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkedinURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContactAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwitterURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstagramURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacebookURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YoutubeURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinkedinURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContactId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContactId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContactId })
        </td>
    </tr>
}

</table>
